<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ISAPMenu.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ISAPMenu.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <ISAPMenu.My.MySettings>
            <setting name="PathFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="FechaDesde" serializeAs="String">
                <value>2011-11-04</value>
            </setting>
            <setting name="FechaHasta" serializeAs="String">
                <value>2011-11-10</value>
            </setting>
            <setting name="GPIDText" serializeAs="String">
                <value />
            </setting>
            <setting name="Secuencia" serializeAs="String">
                <value>1</value>
            </setting>
        </ISAPMenu.My.MySettings>
    </userSettings>
    <applicationSettings>
        <ISAPMenu.My.MySettings>
            <setting name="LinkCognos" serializeAs="String">
                <value>http://pepwav11708.fritolayca.mex.pi.pvt/cognos8/cgi-bin/cognos.cgi?b_action=xts.run&amp;m=portal/main.xts&amp;startwel=yes</value>
            </setting>
        </ISAPMenu.My.MySettings>
    </applicationSettings>
</configuration>